@media screen and (min-width: 1024px) {
    #hamming {
        .hamming-app {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            border: 2px solid #fff;
            border-radius: 1em;
            padding: 1em;
        }
    }
}
